.fieldbox{    
    display: flex;
    border: 2px solid green ;
    height: 20vh; /* Establece la altura según tus necesidades */
    aspect-ratio: 3 / 4; /* Establece la relación de aspecto (width: 3 * height / 4) */
    max-width: 20rem;    
    overflow: hidden;
    position: relative;
}

.playerField{
    border: 2px solid green ;
    position: relative;
    max-width: 40rem; 
    width: 80%;
    height: 90%;
}

.player{
    width: 10%;
    height: 10%;
    position: absolute;
}